@import '../home/home.component.css';

.pong-title {
    background: linear-gradient(to right, #4b6cb7, #182848);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pong-btn {
    border-color: rgba(75, 108, 183, 0.4);
}

.pong-btn:hover {
    box-shadow: 0 0 15px rgba(75, 108, 183, 0.4);
}

#usernameInput {
    border-color: rgba(75, 108, 183, 0.4);
}

.back-link {
    cursor: pointer;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #4b6cb7;
}